<footer height="100px">
    <div class="container" style="padding-top:2%;">
        <div class="row justify-content-start">
            <div class="col-sm-auto">
                <a href="/index">
                    <img src="/assets/icons/mushroom-cloud-100.png" width="30px" height="auto">
                </a>
            </div>
            <div class="col-sm-auto">
                <a routerLink="/resume">
                    <img src="/assets/icons/contacts-100.png" width="30px" height="auto">
                </a>
            </div>
            <div class="col-sm-auto">
                <a href="google.com">
                    <img src="/assets/icons/mail-100.png" width="30px" height="auto">
                </a>
            </div>
            <div class="col-sm-auto">
                <a href="google.com">
                    <img src="/assets/icons/document-100.png" width="30px" height="auto">
                </a>
            </div>
            <div class="col-sm-auto">
                <a href="google.com">
                    <img src="/assets/icons/puzzle-100.png" width="30px" height="auto">
                </a>
            </div>
        </div>
    </div>
</footer>