<div class="overlay-container">
    <div class="container">
        <div class="row justify-content-between" style="padding:3% 4% 0% 4%;">
            <div class="col-auto">
                <h2>Recent Work</h2>
            </div>
            <div class="col-auto">
                <a routerLink="/home">
                    <img src="/assets/icons/close-100.png" width="30px" height="auto">
                </a>
            </div>
        </div>
        <hr style="margin-left:1%;width:35%;">
        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://github.com/nicholas-rose/exrisk" 
                preview="icons/mushroom-cloud-100.png"
                title="exrisk.net"
                description="This personal site, built with Angular and Node, and served with Heroku. Hopefully, in the future, it will grow to include other projects as this domain name is just too good to keep to myself.">
            </app-document-large-block>
        </div>
        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://github.com/nicholas-rose/variable-dqn" 
                preview="icons/github-90.png"
                title="Variable DQN"
                description="An experiment comparing the performance of different sizes of Deep Q Networks when applied to a handful of OpenAI Gym reinforcement learning games. Written in python using pytorch. Observations can be found in the github.">
            </app-document-large-block>
        </div>
        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://drive.google.com/file/d/1MqYJPoXtVyPOzNrwgk1iBs19L2WcIk8L/view?usp=sharing" 
                preview="icons/document-100.png"
                title="AI and Epistemic Humility"
                description="A paper that I submitted for the John Crerar Foundation Science Writing Prize. In it, I make an argument against AI skeptics, and lay out why we should be concerned about both the present and future state of AI.">
            </app-document-large-block>
        </div>
        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://youtu.be/IGpfdfXsOoU" 
                preview="icons/youtube-128.png"
                title="Tahoe Home Flythrough"
                description="I built this demo and flythrough in Unreal Engine as part of a broader set of VR architectural visualizations I produced while working with Northworks & The Gettys Group. VR demos, when compared to 2D renders, can be extremely compelling, and give clients a much better sense of space and design.">
            </app-document-large-block>
        </div>
    </div>
</div>