<div class="sidebar-col">
    <div class="sidebar-item">
        <a href="/home">
            <img src="/assets/icons/mushroom-cloud-100.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/resume">
            <img src="/assets/icons/contacts-100.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a href="mailto:nick@exrisk.net">
            <img src="/assets/icons/mail-100.png" width="30px" height="auto">
        </a>
    </div>
    <!-- <div class="sidebar-item">
        <a href="google.com">
            <img src="/assets/icons/document-100.png" width="30px" height="auto">
        </a>
    </div> -->
    <div class="sidebar-item">
        <a href="/puzzle">
            <img src="/assets/icons/puzzle-100.png" width="30px" height="auto">
        </a>
    </div>
</div>