<div class="sidebar-col">
    <div class="sidebar-item">
        <a href="/home">
            <img src="/assets/icons/mushroom-cloud-100.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/resume">
            <img src="/assets/icons/contacts-100.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/work">
            <img src="/assets/icons/archive-128.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item" >
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/nicholas-rose/exrisk">
            <img src="/assets/icons/github-90.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a routerLink="/puzzle">
            <img src="/assets/icons/puzzle-100.png" width="30px" height="auto">
        </a>
    </div>
    <div class="sidebar-item">
        <a href="mailto:nick@exrisk.net">
            <img src="/assets/icons/mail-100.png" width="30px" height="auto">
        </a>
    </div>
</div>