<div class="overlay-container">
    <div class="container">
        <div class="row justify-content-between" style="padding:3% 4% 0% 4%;">
            <div class="col-auto">
                <h2>Resume &amp; Recs</h2>
            </div>
            <div class="col-auto">
                <a routerLink="/home">
                    <img src="/assets/icons/close-100.png" width="30px" height="auto">
                </a>
            </div>
        </div>
        <hr style="margin-left:1%;width:35%;">

        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://drive.google.com/file/d/1OFytpamMGPvt-krtLuF7huQl8RE63fm2/view?usp=sharing" 
                preview="png/nickrose-resume-web.png"
                title="My Resume"
                description="Last updated 12/14/21.">
            </app-document-large-block>
        </div>

        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://drive.google.com/file/d/1cY2xp47Ad4dZrR4K6Fpf6-MkltqgFl_u/view?usp=sharing" 
                preview="png/nickrose-powerkiosk-rec.png"
                title="Rec: Alex Ayerdi"
                description="Alex is the VP of Engineering @ Powerkiosk. I interned with Powerkiosk over the past two summers, and got many opportunities to work directly with Alex.">
            </app-document-large-block>
        </div>

        <div style="padding:3% 4% 4% 4%;">
            <app-document-large-block 
                link="https://drive.google.com/file/d/1ijasH8Ak75mqfn3clWXROqsUOY9G68_t/view?usp=sharing" 
                preview="png/nickrose-gfruit-rec.png"
                title="Rec: Mike Komaranksy"
                description="Mike is the ex-founder of DRW's Cumberland Mining, one of the first institutional crypto market makers. He convinced me to take a year off from UChicago and move to Miami in 2018 to work for his new crypto desk, Grapefruit Trading.">
            </app-document-large-block>
        </div>
    </div> 
</div>