<div class="overlay-container">
    <div class="container">
        <div class="row justify-content-between" style="padding:3% 4% 0% 4%;">
            <div class="col-auto">
                <h2>resume &amp; references</h2>
            </div>
            <div class="col-auto">
                <a href="/home">
                    <img src="/assets/icons/close-100.png" width="30px" height="auto">
                </a>
            </div>
        </div>
        <hr style="margin-left:1%;width:35%;">
        <div class="row justify-content-center" style="padding:3% 4% 4% 4%;">
            <div class="col-md-5">
                <app-document-block link="https://drive.google.com/file/d/1-V2_St2crhamcDIdhoqL8TWg6qPFGfKz/view?usp=sharing" preview="png/nickrose-resume-web.png" description="resume. updated 12/14/21."></app-document-block>
            </div>
        </div>
        <div class="row justify-content-center" style="padding:3% 4% 4% 4%;">
            <div class="col-md-5">
                <app-document-block link="https://drive.google.com/file/d/1cY2xp47Ad4dZrR4K6Fpf6-MkltqgFl_u/view?usp=sharing" preview="png/nickrose-powerkiosk-rec.png" description="recommendation: jr fullstack dev intern @ Powerkiosk"></app-document-block>
            </div>
            <div class="col-md-5">
                <app-document-block link="https://drive.google.com/file/d/1-V2_St2crhamcDIdhoqL8TWg6qPFGfKz/view?usp=sharing" preview="png/nickrose-gfruit-rec.png" description="recommendation: analyst and jr. dev @ Grapefruit Trading"></app-document-block>
            </div>
        </div>
    </div> 
</div>